<!DOCTYPE html>
<html>
    <head>
      <title>About</title>
      <link rel="stylesheet" href="/css/styles.css">
    </head>
    <body>
    
        <div class="main-content">
            {{>header}}
             <img src="/imgs/madara.jpg" class="potrait">
        <p>This is my first web page {{name}}</p>
        </div> 
         {{>footer}}
    </body>
</html>