<!DOCTYPE html>

<html>

<head>
    <title>Help</title>
    <link rel="stylesheet" href="/css/styles.css">
    <style>
        a{
            text-decoration: none;
        }
    </style>
</head>

<body>
    <div class="main-content">
            {{>header}}
           <p>{{helpText}}</p>
           <p >Email:- janjiralasai420@gmail.com</p>
           Linkedin:- <a href="https://www.linkedin.com/in/saiteja-janjirala-167927169/">Saiteja</a>
    </div>
    {{>footer}}
</body>

</html>